body {

  line-height: 1.4;
  font-size: 17px;
  font-weight: 400;
  color: #121212;
  min-height: 100vh;
  background-color: $white;
  @extend %OpenSans;

  @include mq ("tablet-2") {
    padding-top: 64px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 10px;
  margin: 0 auto;

}

.btn {
  cursor: pointer;
  font-size: 12px;
  padding: 10px 15px;
  max-width: 126px;
  width: 100%;
  background-color: $green;
  border: none;
  border-radius: 6px;
  color: $white;
}

.lock {
  overflow: hidden
}

.title {
  @extend %OpenSans;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #121212;
  @extend %Ruda;
}

.disable {
  display: none;
}

.burger-close {
  position: absolute;
  z-index: 2;
  width: 44px;
  height: 44px;
  display: block;
  right: 20px;

  &::before,
  &::after {
    @include pseudo;
    left: 10px;
    width: 30px;
    height: 1px;
    background-color: $graybtn;
  }

  &::before {
    transform: rotate(45deg);
    top: 50%;
  }

  &::after {
    transform: rotate(-45deg);
    top: 50%;
  }
}