.breadcrumbs {
  padding: 20px 0;
  background-color: #f6f6f6;

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__img {
    transform: rotate(180deg);
    margin: 0 10px;
    width: 6px;
    height: 10px;
  }
}