.product-other {
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    margin-bottom: 50px;
    font-size: 30px;
    text-transform: uppercase;

  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: -70px;
    width: 60px;
    height: 60px;
    border: 1px solid $gray;
    border-radius: 6px;
    color: $borber;
    transition: all 0.4s;

    &:hover {
      border: 1px solid $green;
      background-color: $green;
    }

    @include mq ("tablet") {
      display: none;
    }


  }

  &__prev {
    margin-right: 50px;

  }

  &__next {
    rotate: 180deg;

    img {}
  }

  &__slider-btn {
    display: flex;

  }



  &__items {
    padding: 10px 0;

  }

  &__item {
    padding: 30px;
    max-width: 298px;

    @include mq ("phone-2") {
      max-width: 172px;
      padding: 20px;

      .product-card {
        height: 320px;
      }
    }
  }

  .product-other__gallary .swiper-wrapper {
    box-sizing: content-box;
  }

  &__swiper {
    position: relative;
    max-width: 1290px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__gallary {
    max-width: 1290px;
    width: 100%;
    display: flex;
    overflow: hidden;
  }



  &__pagination {

    @include mq ("tablet-2") {}
  }


  .swiper-pagination-bullet-active {
    background: $green;
  }
}