.top-slider {
  margin: 0 auto;
  overflow: hidden;

  &__inner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    max-width: 1920px;
    width: 100%;
    max-height: 600px;
    position: relative;
  }

  .swiper-pagination-bullet-active {
    background: $green;
  }

  .top-slider__inner .swiper-wrapper {
    box-sizing: content-box;
  }

  &__prev {
    position: absolute;
    left: 5%;
    top: 50%;

    @include mq ("desktop-3") {
      left: 0;
    }

    @include mq ("desktop-2") {
      display: none;
    }
  }

  &__next {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: rotate(180deg);

    @include mq ("desktop-3") {
      right: 0;
    }

    @include mq ("desktop-2") {
      display: none;
    }
  }

  &__btn {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

    &:hover {
      background-color: #E0EDCF;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
    }

    img {
      width: 18px;
      height: 32px;
    }
  }

  &__content {
    padding: 140px 0;

    @include mq("desktop-2") {
      padding: 60px 60px;
    }

    @include mq("phone") {
      padding: 40px 0;
    }
  }

  &__box {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 30px 50px 30px;
    border-radius: 4px;

    @include mq("tablet") {
      padding: 30px 30px 24px 30px;
    }
  }

  &__title {
    font-size: 60px;
    color: #505050;
    max-width: 860px;
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 900;

    @include mq("tablet-2") {
      font-size: 40px;
    }

    @include mq("tablet") {
      font-size: 30px;
    }

    @include mq("phone") {
      font-size: 25px;
    }

    span {
      display: block;
      color: #CF3E3B;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__link {
    background-color: $green;
    border-radius: 6px;
    padding: 12px 24px;
    color: $white;

  }
}