<section class="sponsor container">

  <img class="sponsor__img" src="images/sponsor/sprite.jpg" alt="изображение спонсора">
  <img class="sponsor__img" src="images/sponsor/dr-pepper-4.jpg" alt="изображение спонсора">
  <img class="sponsor__img" src="images/sponsor/cocacola.jpg" alt="изображение спонсора">
  <img class="sponsor__img" src="images/sponsor/pepsi.jpg" alt="изображение спонсора">
  <img class="sponsor__img" src="images/sponsor/redbull.jpg" alt="изображение спонсора">
  <img class="sponsor__img" src="images/sponsor/fanta.jpg" alt="изображение спонсора">


</section>